<h2>Editar Producto</h2>

<%= form_with(model: @producto, url: update_admin_producto_path(@producto), method: :patch, local: true) do |form| %>
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.number_field :precio %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :disponibilidad %>
    <%= form.text_area :disponibilidad %>
  </div>

  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto %>
  </div>

  <div class="actions">
    <%= form.submit "Actualizar Producto" %>
  </div>
<% end %>

<%= link_to "Volver", admin_productos_path %>
